.container {
  display: flex;
  min-height: 100vh;
  background-image: repeating-linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.05),
    rgba(0, 0, 0, 0.05) 1px,
    transparent 0.3px,
    transparent 8px
  );
}
