.container {
  display: flex;
  min-height: 100vh;
   background-color: #f5f5f5;
  background-image: repeating-linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.05),
    rgba(0, 0, 0, 0.05) 1px,
    transparent 0.3px,
    transparent 8px
  );
}
.formContainer {
  flex: 1;
  padding: 10px;
  padding-left: 100px;

}
.container-fluid .admin-pages {
  display: flex;
  /* height: 100vh;  */
    background: linear-gradient(to right, #00aaff, #0044cc); /* Gradient from light blue to dark blue */
  min-height: 100vh; 
}

.admin-left-side {
  background-color: #003366;
  color: #fff;
  height: 100%; /* Full height to match the right side */
  overflow: auto; /* Allow scrolling if content overflows */
   box-sizing: border-box;
}



.admin-left-side {
  background-color: #003366; /* Dark blue background for the Admin Menu */
  color: #fff; /* White text color */
  height: 100%; /* Full height to match the right side */
  overflow: auto; /* Allow scrolling if content overflows */
}


.admin-menu {
  height: 100%; /* Ensure the Admin Menu takes up the full height */
  display: flex;
  flex-direction: column;
}

.list-group-item {
  color: #fff; /* White text for the links */
  text-decoration: none;
  padding: 15px;
  border-bottom: 1px solid #004080; /* Slightly lighter blue for borders */
}

.list-group-item:hover {
  background-color: #004080; /* Darker blue on hover */
}

/* Container for Admin Menu with a fixed height and scroll if needed */
.admin-left-side {
  background-color: #003366; /* Dark blue background for the admin menu */
  height: 100vh; /* Full viewport height */
  overflow-y: auto; /* Allow vertical scroll if content is too large */
}

.admin-right-side {
  padding: 15px; /* Add some padding for better spacing */
  height: 100vh; /* Full viewport height */
  box-sizing: border-box; /* Include padding in height calculation */
}
