.container {
  display: flex;
  min-height: 100vh;
  background-image: repeating-linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.05),
    rgba(0, 0, 0, 0.05) 1px,
    transparent 0.3px,
    transparent 8px
  );
  font-family: "Times New Roman", Times, serif;
}

.profileContainer {
  width: 70%; /* Adjusted for new side navigation */
  padding: 0 30px;
  margin-left: 5px;
  margin-top: -30px;
}

.profileTitle {
  font-size: 1.8rem;
  color: black;
  margin-bottom: 20px;
}

.innerWrapperContainer1 {
  display: flex;
}

.innerWrapperContainer1 p {
  font-size: 1rem;
  font-weight: bold;
}

.profileDetails {
  font-size: 1rem;
  color: black;
  margin: 5px 0;
}

.detailLabel {
  font-weight: bold;
}

.editButton1 {
  font-size: 1.7rem;
  margin-left: 10px;
  margin-top: -12px;
  color: darkorange;
}

/* Sidebar styling */
.sideNav {
  width: 150px;
  margin-left: 20px;
  padding-top: 20px;
}

.sideNavItem {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  position: relative;
}

.sideNavIcon {
  background-color: darkorange;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 20px;
  border-radius: 50%;
  text-align: center;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sideNavItem:before {
  content: "";
  position: absolute;
  top: 90%;
  left: 50%;
  width: 1.8px;
  height: 120px;
  background-color: darkorange;
  transform: translateX(-50%);
}

.sideNavItem:last-child:before {
  display: none;
}

/* Vehicle Section */
.vehiclesSection,
.ordersSection {
  margin-top: 50px;
}

/* Other section styles */
.sectionTitle {
  font-size: 1.5rem;
  color: black;
  margin-bottom: 15px;
}

.noDataFound {
  color: #888;
  font-size: 1rem;
  padding: 20px 10px;
  background-color: white;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.addButton {
  display: block;
  width: 200px;
  padding: 7px;
  background-color: #ff6600;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.addVehicleContainer {
  font-family: "Times New Roman", Times, serif;
  max-width: 450px;
  width: 100%;
  padding: 0 20px;
  margin-top: 20px;
  margin-left: 100px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
